:root{
    --mustard: #fdb302;
    --dark-grey: #1f1f1f;
}

.scran-nav {
    background: var(--dark-grey);
     padding-top: 18px;
    padding-bottom: 18px; 
}

.scran-logo {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.5px; 
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    font-family: 'Fredoka', sans-serif;
}

.scran-links .nav-link {
    font-family: 'Fredoka', sans-serif;
    font-size: 22px;
}

.scran-links .nav-link {
    color: white;
    font-weight: 500;
}

.scran-links .nav-link.active {
  color: #ffffff;                     
  text-decoration-line: underline;
  text-decoration-color: var(--mustard);    
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.scran-links .nav-link:hover {
    color: var(--mustard);
}

  
 /* dropdown styling */
.scran-dropdown {
  background-color: var(--dark-grey) !important;
  border-radius: 6px;
  padding: 8px 0;
}

.scran-dropdown .dropdown-item {
  color: #ffffff !important;
  font-family: 'Fredoka', sans-serif;
  padding: 8px 18px;
}

.scran-dropdown .dropdown-item:hover,
.scran-dropdown .dropdown-item:focus {
  color: var(--mustard) !important;
  background-color: transparent !important;
}

/* override Bootstrap default dropdown background */
.dropdown-menu {
  background-color: var(--dark-grey) !important;
}



@media (max-width: 991.98px) {
    .scran-user-btns {
        margin-top: 0.75rem;
        width: 100%;
    }
    .scran-user-btns .btn {
        flex: 1;
    }
    .scran-links .nav-link {
        padding: 0.6rem 0.25rem;
    }
}

/* Desktop: dropdown on hover */
@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}