/*scrandom banner*/
/* Hero section */
.scran-hero-scrandom {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-image: url('../images/scrandom-banner.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* Content */
.scran-hero-scrandom-content {
  position: relative;
  z-index: 2;
  color: white;
  font-family: 'Fredoka', sans-serif;
}

/* Title */
.scran-hero-scrandom-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Subtitle */
.scran-hero-scrandom-subtitle {
  font-size: 20px;
  margin-bottom: 25px;
  opacity: 0.95;
}